<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">Create lobby</div>
    <div class="card-body">
      <div>
        <label> Lobby name: </label> &nbsp;
        <input type="text" [(ngModel)]="lobby.name"> &nbsp;
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary" value="Create lobby" (click)="createLobby()">
            Create lobby
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
