<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">{{this.lobby.name}}</div>
    <div class="card-body">
      <p>Send message </p>
      <div *ngIf="loading">
        <form [formGroup]="chatForm" (ngSubmit)="sendMessage(chatForm.value)">
          <div>
            <input id="message" type="text" formControlName="message">
          </div>
          <br>
          <button class="btn btn-primary">Send message </button>
        </form>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center"> {{this.lobby.name}} messages</div>
    <div class="card-body">
      <div *ngFor="let message of webSocketAPI.messages">
        <p>{{message}}</p>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center"> Find lobby </div>
    <div class="card-body">
      <div>
        <label> Lobby : </label> &nbsp;
        <input type="text" [(ngModel)]="findingLobby.name"> &nbsp;
        <input type="button" class="btn btn-primary" value="Find lobby" (click)="findLobby()" />
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
