<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">{{this.lobby.name}}</div>
    <div class="card-body">
      <p>Send message </p>
      <div *ngIf="loading">
        <input type="text"  [(ngModel)]="message"> &nbsp;
        <input type="button" class="btn btn-primary" value="Send message" (click)="sendMessage()" />
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center"> {{this.lobby.name}} messages</div>
    <div class="card-body">
      <div *ngFor="let message of webSocketAPI.justMessages">
        <p>{{message}}</p>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center"> Find lobby </div>
    <div class="card-body">
      <p>Find lobby</p>
      <div>
        <input type="text" [(ngModel)]="findingLobby.name"> &nbsp;
        <input type="button" class="btn btn-primary" value="Find lobby" (click)="findLobby()" />
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
