<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">{{this.lobby.name}}</div>
    <div class="card-body">
      <p>Send message </p>
      <div *ngIf="loading">
        <form [formGroup]="chatForm" (ngSubmit)="sendMessage(chatForm.value)">
          <div>
            <label for="message">
              message
            </label>
            <input id="message" type="text" formControlName="message">
          </div>
          <button class="btn btn-primary">Send message </button>
        </form>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center"> {{this.lobby.name}} Messages</div>
    <div class="card-body">
      <div *ngFor="let message of webSocketAPI.messages">
        <p>{{message}}</p>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center"> Find lobby </div>
    <div class="card-body">
      <form [formGroup]="findLobby" (ngSubmit)="findLobby(lobbyForm.value)">
      <div>
        <input id="findguild" type="text" formControlName="findguild">
      </div>
        <br>
        <button class="btn btn-primary">Search for lobby </button>
      </form>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
